# Этот файл является корневым
root = true

# Правила для всех файлов
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# Python файлы (строго 4 пробела)
[*.py]
indent_style = space
indent_size = 4

# Файлы конфигураций и Web (JSON, YAML, HTML) - лучше 2 пробела
[*.{json,yml,yaml,html,css,js}]
indent_style = space
indent_size = 2

# Makefile требует использовать настоящие табы
[Makefile]
indent_style = tab