# ========================
# secrets, cfg's
# ========================
.env
.env.*
!.env.example

# ========================
# py, env
# ========================
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
Pipfile.lock

# ========================
# machine learning (Веса, MLflow)
# ========================
*.cbm              # CatBoost модели
*.pt               # PyTorch веса
*.pth              # PyTorch веса
*.pkl              # scikit-learn пайплайны
*.onnx             # Экспортированные модели
mlruns/            # Локальные логи MLflow
.catboost_info/

# ========================
# data
# ========================
data/
*.csv
*.xlsx
*.parquet
*.json
!schemas/*.json    # Если JSON используется для конфигов схем, их оставляем

# ========================
# jupyter notebooks
# ========================
.ipynb_checkpoints/
*.ipynb_checkpoints/

# ========================
# database, infra
# ========================
pgdata/            # Если локальная БД смонтирована в папку
kafkadata/
redisdata/
infra/

*.log

# ========================
# IDE, OS
# ========================
.idea/
.vscode/
.DS_Store
Thumbs.db

# ========================
# images/data
# ========================
src/scraper/media/
