# auto lf
* text=auto eol=lf

# scripts only with lf
*.py text eol=lf
*.sh text eol=lf
Dockerfile text eol=lf
docker-compose.yml text eol=lf

# exclude bin, dif
*.csv binary
*.xlsx binary
*.parquet binary
*.cbm binary
*.pt binary
*.pkl binary

# jupyter
*.ipynb linguist-generated=true
