# ========================
# Секреты и Конфиги
# ========================
.env
.env.*
!.env.example

# ========================
# Python и Окружение
# ========================
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
Pipfile.lock

# ========================
# Machine Learning (Веса и MLflow)
# ========================
*.cbm              # CatBoost модели
*.pt               # PyTorch веса
*.pth              # PyTorch веса
*.pkl              # scikit-learn пайплайны
*.onnx             # Экспортированные модели
mlruns/            # Локальные логи MLflow
.catboost_info/

# ========================
# Данные (Датасеты)
# ========================
data/
*.csv
*.xlsx
*.parquet
*.json
!schemas/*.json    # Если JSON используется для конфигов схем, их оставляем

# ========================
# Jupyter Notebooks
# ========================
.ipynb_checkpoints/
*.ipynb_checkpoints/

# ========================
# Базы данных и Инфраструктура
# ========================
pgdata/            # Если локальная БД смонтирована в папку
kafkadata/
redisdata/
*.log

# ========================
# IDE и OS (Шлак от операционок)
# ========================
.idea/
.vscode/
.DS_Store
Thumbs.db